[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/hallison/vim-markdown.git
